body{
    background-color: aliceblue;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0;
}

.card{
    background-color: white;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    padding: 30px;
    text-align: center;
}

h1{
    /*背景background*/
    /* background-color: rgb(235, 235, 233); */
    background-image: url('b.png');
    background-repeat: no-repeat;
    background-size: 2pc 2pc;
    background-position: left;
    border-radius: 10px 10px 10px 10px;

    /*文本*/
    color:#4e4e4e;
    text-align: justify;
    text-transform: uppercase;
    text-indent:30px;
    text-shadow: #d68f8f 2px 2px 5px;
    letter-spacing: 10px;
    line-height: 150%;
    direction: ltr;
    word-spacing: 5px;
    white-space: nowrap;

    /*字体*/
    /*1em=16px 1pc=16px*/
    /*设置<body>元素的默认字体大小是百分比*/
    font-size: 24px;
    font-style: oblique 10deg;
    font-weight: bold;

}

img{
    vertical-align:text-bottom
}

/*链接的状态有4个，分别是
a:link-未访问过
a:visited-已访问过
a:hover-鼠标悬停，必须跟在前两个后面
a:active-链接被点击的时候，必须跟在hover后面
*/
a:link,a:visited{
    display: block;
    color:#ffffff;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    background-color: #6aa58c;
    width: 120px;
    padding: 4px;
    border-radius: 5px;
}
a:hover{
    color:#ffffff;
    background-color: #4e705e;
}
a:active{
    color:#ffffff
}

button{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

botton:hover{
    background-color: #00fff7;
}

ul{
    text-align: left; 
    /* list-style-type: circle;
    list-style-image: url("b.png");
    list-style-position: inside; */
    list-style-type: none;
    padding: 0px;
    margin: 0px;
} 
ul li{
    background-image: url('b.png');
    background-repeat: no-repeat;
    background-position: 16px 5px;
    padding-left: 40px;
    background-size: 1pc 1pc;
}

/* ol{
    text-align: left; 
    list-style-type: upper-roman;
} */
/*
列表可以简写属性，按照如下顺序：
list-style-type
list-style-position
list-style-image
*/
ol{
    list-style: upper-alpha;
    text-align: left;
}